.contedor{
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
}

.casa{
    display: flex;
     margin-left: 100px;
    margin-top: 10px;
}

.casaa{
    display: flex;
     margin-left: 100px;
    margin-top: 10px;
}